@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');

:root{
    --primary-color: #592C28;
    --second-color: #D9A689;
    --third-color: #FFFFFF;

    --title-font: "Lily Script One", system-ui;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--second-color)!important;
}

.navbar{
    background-color: var(--primary-color)!important;
}

.navbar-title{
    font-family: var(--title-font);
    color: #FFFFFF;
    font-size: 1.5rem;
}
